<p>Hello from Home!</p>

<!-- <section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
            <p hide show-gt-md>
                This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
            </p>
        </md-content>

    </md-sidenav>

    <div>
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Main</h1>
        </md-toolbar>

        <md-content flex layout-padding>

            <div layout="column" layout-align="top center">
                <p>
                    The left sidenav will 'lock open' on a medium (>=960px wide) device.
                </p>
                <p>
                    <md-icon>phone</md-icon>
                    The right sidenav will focus on a specific child element.
                </p>

                <div class="menu-demo-container" layout-align="center center" layout="column">
                    <h2 class="md-title">Simple dropdown menu</h2>
                    <p>Applying the
                        <code>md-menu-origin</code> and
                        <code>md-menu-align-target</code> attributes ensure that the menu elements align. Note: If you select the Redial menu option, then
                        a modal dialog will zoom out of the phone icon button.</p>
                    <md-menu>
                        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="home.openMenu($mdMenu, $event)">

                            Call someone
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button>

                                    Redial
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button disabled="disabled">

                                    Check voicemail
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button>

                                    Check voicemail
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>

                                    Check voicemail
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>

            <div flex></div>

        </md-content>
    </div>



</section> -->